*{
  margin: 0;
  padding: 0;
}
.App{
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.search-container{
  display: flex;
  align-items: center;
}
.dark{
  background-color: rgb(32, 32, 32);
  color: #fff;
}
.ligth{
  background-color: #fff;
  color: rgb(32, 32, 32);
}
